 .row{
   display: flex;
   gap: 5px;
 }
 .card{
   width: 305px;
   border-style:solid;
   border-radius:5px;
   border-width: 1px;
  
 }
.qrcode{
  display: block;
  width: 90px;
  height: 90px;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
   
}
.item{
 
   padding:5px;
   margin-top:3px;
   margin-bottom: 0px;
}
.item-color{
  background-color: rgb(227, 227, 227);
}
.container{
  display: flex;
}